DOMAIN-SUFFIX,t.me
DOMAIN-SUFFIX,tx.me
DOMAIN-SUFFIX,tdesktop.com
DOMAIN-SUFFIX,tele.gs
DOMAIN-SUFFIX,telegra.ph
DOMAIN-SUFFIX,telegram.me
DOMAIN-SUFFIX,telegram.org
DOMAIN-SUFFIX,telesco.pe
{%- for IPv4Iterm in IPv4Set %}
IP-CIDR,{{ IPv4Iterm }},no-resolve
{%- endfor %}
{%- for IPv6Iterm in IPv6Set %}
IP-CIDR6,{{ IPv6Iterm }},no-resolve
{%- endfor %}
